@model EMS_MINI_PROJECT_SCAFFOLDING.Models.User_Master_174778

@{
    ViewBag.Title = "AccessDenied";
}

<h2><b>Sorry Your account does not have rights to access this Page.Please Contact Supervisor</b></h2>

